
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Home Page";
}

@section pageStyles{
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/assets/plugins/parallax-slider/css/parallax-slider.css" />
    <style>
        div.promo-key-art-headset {
            background: url(../assets/img/key-art/headset4.jpg);
            background-size: cover;
            background-position: center center;
        }

        /*Containers and container-fluid divs are conflicting, something to do with the margins. This is the hacky solution*/
        .row {
            margin-left: 0px;
            margin-right: 0px;
        }
    </style>

}

<!-- Promo Block -->
<div class="promo-key-art-headset promo-bg-fixed content-xlg parallaxBg">
    <div class="container text-center" data-start="opacity: 1;" data-320="opacity: 0;">
        <div class="row">
        <div class="margin-bottom-20">
            <a class="promo-video-icon-wrap color-light rounded-x animated fadeInUp wow cbp-lightbox" data-wow-duration="2s" data-wow-delay=".5s" data-title="Video Presentation" href="https://player.vimeo.com/video/58363288?&rel=0&autoplay=1">
                <i class="icon-share icon-lg"></i>
            </a>
            <div id="cbp-lightbox" class="dp-none"></div>
        </div>
        <span class="promo-text-v1 color-light margin-bottom-10 animated fadeInUp wow" data-wow-duration="1.5s" data-wow-delay="1s">
            WASTE LESS TIME<br />GET MORE SLEEP
        </span>
        <h2 class="promo-text-v2 color-light animated fadeInUp wow margin-bottom-20" data-wow-duration="1.5s" data-wow-delay="1.5s">Calltime</h2>
        <div class="animated fadeInUp wow" data-wow-duration="1.2s" data-wow-delay="2s">
            <a href="#" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light btn-u-block rounded-4x margin-right-10">Learn More</a>
            <a href="#" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light btn-u-block rounded-4x">Start Using</a>
        </div>
            </div>
    </div>
</div>
<!-- End Promo Block -->
<!-- Colorfull Block -->
<div class="container-fluid">
    <div class="row no-gutter equal-height-columns">
        <div class="col-sm-4 promo-bg-img-v1">
            <div class="service-block rgba-purple no-margin-bottom content-sm equal-height-column">
                <i class="icon-custom icon-md rounded icon-color-light icon-line icon-badge"></i>
                <h2 class="heading-md font-light">Best Solutions</h2>
                <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
            </div>
        </div>
        <div class="col-sm-4 promo-bg-img-v5">
            <div class="service-block rgba-red no-margin-bottom content-sm equal-height-column">
                <i class="icon-custom icon-md rounded icon-color-light icon-line icon-fire"></i>
                <h2 class="heading-md font-light">Excellent Features</h2>
                <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
            </div>
        </div>
        <div class="col-sm-4 promo-bg-img-v4">
            <div class="service-block rgba-blue no-margin-bottom content-sm equal-height-column">
                <i class="icon-custom icon-md rounded icon-color-light icon-line icon-directions"></i>
                <h2 class="heading-md font-light">Creative Ideas</h2>
                <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
            </div>
        </div>
    </div>
</div>
<!-- Colorfull Block -->
<!-- About Section -->
<div class="container content-md">
    <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">ABOUT UNIFY</h2>
        <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
    </div>
    <div class="row">
        <div class="col-md-6 md-margin-bottom-30">
            <h2 class="title-v2">WATCH ABOUT US</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p><br>
            <p>If you are going to use a passage of Lorem Ipsum making this the first..</p><br>
            <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark margin-right-10">Read More</a>
            <a href="#" class="btn-u">Purchase Now</a>
        </div>
        <div class="col-md-6">
            <!-- Magazine Slider -->
            <div class="carousel slide carousel-v2" id="portfolio-carousel">
                <ol class="carousel-indicators">
                    <li class="active rounded-x" data-target="#portfolio-carousel" data-slide-to="0"></li>
                    <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="1"></li>
                    <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="full-width img-responsive" src="/assets/img/bg/img5.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="full-width img-responsive" src="/assets/img/bg/img6.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="full-width img-responsive" src="/assets/img/bg/img7.jpg" alt="">
                    </div>
                </div>
                <a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
                    <i class="fa fa-angle-left arrow-prev"></i>
                </a>
                <a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
                    <i class="fa fa-angle-right arrow-next"></i>
                </a>
            </div>
            <!-- End Magazine Slider -->
        </div>
    </div>
</div>
<!-- End About Section -->
<!-- Full Width Section -->
<div class="container-fluid bg-color-darker">
    <div class="row equal-height-columns-v2 no-gutter">
        <div class="col-md-6 equal-height-column-v2 text-center dp-table">
            <div class="content-boxes-v3 dp-table-cell quote-v1 parallaxBg">
                <div class="margin-bottom-10">
                    <img class="rounded-x img-width-60" src="/assets/img/testimonials/img5.jpg" alt="">
                </div>
                <div class="margin-bottom-10">....</div>
                <p>Everyone knows that debugging is twice as hard as writing a program in the first place. So if you're as clever as you can be when you write it, how will you ever debug it.</p>
                <span>Jimmy Howell, <a href="#">CEO, Director</a></span>
            </div>
        </div>
        <div class="col-md-6 equal-height-column-v2" data-image-src="/assets/img/bg/img12.jpg"></div>
    </div>
</div>
<!-- End Full Width Section -->
<!-- Services Blocks -->
<div class="bg-color-light">
    <div class="container content-md">
        <div class="text-center margin-bottom-60">
            <h2 class="title-v2 title-center">WHAT WE OFFER</h2>
            <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
        </div>
        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50 animated fadeIn wow" data-wow-duration="1.5s">
                <div class="service-block-v8">
                    <i class="icon-bubbles"></i>
                    <div class="service-block-desc">
                        <h3>Dedicated Support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus velit nec ante tempor, iaculis mollis ante imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20 animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay=".3s">
                <div class="service-block-v8">
                    <i class="icon-globe"></i>
                    <div class="service-block-desc">
                        <h3>RTL Support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus velit nec ante tempor, iaculis mollis ante imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50 animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay="0.5s">
                <div class="service-block-v8">
                    <i class="icon-layers"></i>
                    <div class="service-block-desc">
                        <h3>One Page Templates</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus velit nec ante tempor, iaculis mollis ante imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay="0.6s">
                <div class="service-block-v8">
                    <i class="icon-handbag"></i>
                    <div class="service-block-desc">
                        <h3>E-Commerce Ready</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus velit nec ante tempor, iaculis mollis ante imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row">
            <div class="col-sm-6 sm-margin-bottom-50 animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay="0.7s">
                <div class="service-block-v8">
                    <i class="icon-paper-plane"></i>
                    <div class="service-block-desc">
                        <h3>Blog &amp; News</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus velit nec ante tempor, iaculis mollis ante imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20 animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay="0.8s">
                <div class="service-block-v8">
                    <i class="icon-present"></i>
                    <div class="service-block-desc">
                        <h3>Much More Others</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus velit nec ante tempor, iaculis mollis ante imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
    </div>
</div>
<!-- End Services Blocks -->
<!-- Parallax Counter -->
<div class="parallax-counter parallaxBg1">
    <div class="container content">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">10629</span>
                    <h4>Users</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">277</span>
                    <h4>Projects</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">78</span>
                    <h4>Team Members</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">109</span>
                    <h4>Awards</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Parallax Counter -->
<!-- Testimonials Section -->
<div class="testimonials-section4 text-center content-md" id="testimonials">
    <div class="container">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">WHAT PEOPLE SAY</h2>
            <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
        </div>
        <div class="row">
            <!-- Testimonials Item BEGIN -->
            <div class="col-sm-4 testimonials-item">
                <blockquote>
                    <p>"Zenim you haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met consectetur adipisicing sit amet do eiusmod dolore."</p>
                </blockquote>
                <div class="testimonials-info">
                    <img src="/assets/img//testimonials/img2.jpg" alt="Nick Adams">
                    <strong>Lewis Dean</strong>
                    <em>Google Inc.</em>
                </div>
            </div>
            <!-- Testimonials Item END -->
            <!-- Testimonials Item BEGIN -->
            <div class="col-sm-4 testimonials-item">
                <blockquote>
                    <p>"Dolore you probably haven't heard of. Lorem ipsum consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem adipisicing sit amet do eiusmod dolore  consectetur adipisicing easfve eiusmod dolore."</p>
                </blockquote>
                <div class="testimonials-info">
                    <img src="/assets/img//testimonials/img3.jpg" alt="Nick Adams">
                    <strong>Julia Cooper</strong>
                    <em>Yahoo Co.</em>
                </div>
            </div>
            <!-- Testimonials Item END -->
            <!-- Testimonials Item BEGIN -->
            <div class="col-sm-4 testimonials-item">
                <blockquote>
                    <p>"Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit. Denim you probably haven't heard of. Of them jean shorts sed magna aliqua. Lorem ipsum dolor met consectetur consectetur adipisicing elit."</p>
                </blockquote>
                <div class="testimonials-info">
                    <img src="/assets/img//testimonials/img4.jpg" alt="Nick Adams">
                    <strong>Jack Powell</strong>
                    <em>Apple Ltd.</em>
                </div>
            </div>
            <!-- Testimonials Item END -->
        </div>
    </div>
</div>
<!-- End Testimonials Section -->
<!-- Owl Clients v1 -->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="owl-clients-v1">
            <div class="item">
                <img src="/assets/img/clients4/1.png" alt="">
            </div>
            <div class="item">
                <img src="/assets/img/clients4/2.png" alt="">
            </div>
            <div class="item">
                <img src="/assets/img/clients4/3.png" alt="">
            </div>
            <div class="item">
                <img src="/assets/img/clients4/4.png" alt="">
            </div>
            <div class="item">
                <img src="/assets/img/clients4/5.png" alt="">
            </div>
            <div class="item">
                <img src="/assets/img/clients4/6.png" alt="">
            </div>
            <div class="item">
                <img src="/assets/img/clients4/7.png" alt="">
            </div>
            <div class="item">
                <img src="/assets/img/clients4/8.png" alt="">
            </div>
            <div class="item">
                <img src="/assets/img/clients4/9.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- End Owl Clients v1 -->

@section implementingPlugins{
    <script src="~/assets/js/plugins/owl-carousel.js"></script>
    <script src="~/assets/plugins/jquery.parallax.js"></script>
    <script src="~/assets/plugins/counter/waypoints.js"></script>
    <script src="~/assets/plugins/counter/jquery.counterup.js"></script>
    <script src="~/assets/plugins/skrollr/skrollr-ini.js"></script>
    <script src="~/assets/plugins/backstretch/backstretch-ini.js"></script>
    <script src="~/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <script src="~/assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.js"></script>
    <script src="~/assets/plugins/parallax-slider/js/modernizr.js"></script>
    <script src="~/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
}

@section pageScripts{
    <script src="~/assets/js/plugins/owl-carousel.js"></script>
    <script src="~/assets/js/plugins/cube-portfolio/masonry-v1.js"></script>
    <script src="~/assets/js/plugins/parallax-slider.js"></script>

}

<script>
    @section initialization{
    App.initCounter();

        ParallaxSlider.initParallaxSlider();
        OwlCarousel.initOwlCarousel();
        console.log("script initialization success");
    }
</script>
