
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <oz-crud-table oz-crud-entity="production"></oz-crud-table>
</div>

@section angPage{
    @Scripts.Render("~/bundles/js/ng/crud")
}