 <!--crudForm-->
<div class="row">
    <div class="col-xs-12">        
        <div class="panel panel-blue margin-bottom-40">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> Basic Form</h3>
            </div>
            <div class="panel-body">
                <form class="margin-bottom-40" role="form">
                    <div class="form-group">
                        <label for="productionName">Production Name</label>
                        <input type="text" class="form-control" id="productionName" placeholder="Enter the everyday name for the production">
                    </div>
                    <div class="form-group">
                        <label for="longName">Long Name</label>
                        <input type="text" class="form-control" id="longName" placeholder="Enter the production's full name">
                    </div>
                    <div class="form-group">
                        <label for="codeName">Code Name</label>
                        <input type="text" class="form-control" id="codeName" placeholder="If you're using a code name during production">
                    </div>
                    <button type="submit" class="btn-u btn-u-blue">Submit</button>
                </form>
            </div>
        </div>      
    </div>
</div>